h1 {
    text-align: center;
    font-family: Arial;
    color: white
}
h2 {
    text-align: center;
    font-family: Arial;
    color: white
}

h3 {
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    color: white;
}

.display {
    position: relative;
}

.log-button {
    position: absolute;
    left: 10px;
    /*transform: translateY(-50%);*/
    display: inline-block;
}
.class-button {
    position: absolute;
    right: 10px;
    /*transform: translateY(50%);*/
    display: inline-block;
}

.inner {
 margin-top:19px;
}

button {
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    border: 5px aliceblue;
    border-radius: 5px;

}

.link-button {
  background: dodgerblue;
  hover: blue;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;
  position: absolute;
  right:5px;
}

.link-button2 {
  background-color: transparent;
  color: white;
  text-decoration: underline;
  border: none;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;
}

button:hover {
    background-color: blue;
}

body {
    background-color: azure;
}
.login-label{
    font-size: 20px;
    font-family: Arial;
    color: white
}
.login-input{
    font-size: 20px;
    text-align: center;
    color: white;
    width: 70%;
    background-color: transparent;
    border-radius: 5px;
    border: 2px white solid;
}
.classInput{
    font-size: 24px;
    text-align: center;
    color: white;
    width: 500px;
    display: table;
    margin: auto;
    background-color: transparent;
    border-radius: 5px;
    border: 2px white solid;
}
.bordered {
    padding: 5%;
    border: 5px white solid;
    border-radius: 10px;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
}
#tabs th{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border: 2px rgba(255,255,255,0.8) solid;
    background-color: dodgerblue;
    color: white;
    border-radius: 2.5px;
    font-size: 24px;
}

#tabs td {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border: 2px rgba(255,255,255,0.8) solid;

    color: white;
    border-radius: 2.5px;
    font-size: 24px;
}

.link-button:focus {
  outline: none;
}
.link-button:active {
  color:cornflowerblue;
}

.absoleft-box {
    position: absolute;
    left:175px;
    transform: translateY(-50%);
}

.absoleft {
    position: absolute;
    left:0;
    transform: translateY(-50%);
}

.admin-button {
    color: white;
    background-color: transparent;
    right: 0;
}

.hide {
}