<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
        <link rel = "stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">

</head>
<body>
    <form action="{{ url_for('login') }}" method="post" class="bordered">
        <div id="login">
            <label for="username">Username: </label>
            <input type="text" id="username" name="username"> <br><br>
            <label for="password">password:</label>
            <input type="password" id="password" name="password"> <br><br>
            <button type="submit" value="submit">Login</button>
        </div>
    </form>

    <div id="error">
        <h1>{{error}}</h1>
    </div>
</body>
</html>