<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
        <link rel = "stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">


</head>
<body style = "background: url('/static/1.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-position: center">
    <h1>Welcome to our Lab 8 Submission!</h1>
    <h2>Done by Noobcodebot and Mad</h2>
    <form action="{{ url_for('login') }}" method="post" class="bordered">
        <div id="login">
            <label for="username" class="login-label">Username: </label>
            <input type="text" id="username" name="username" class="login-input"> <br><br>
            <label for="password" class="login-label">Password: </label>
            <input type="password" id="password" name="password" class="login-input"> <br><br>
            <button type="submit" value="submit">Login</button>
        </div>
    </form>

    <div id="error">
        <h2>{{error}}</h2>
    </div>
</body>
</html>