<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">

</head>
<body style = "background: url('/static/1.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-position: center">
<br>
<Form action="{{url_for('logout')}}">
    <div>
        <button class="log-button">Log Out</button>
    </div>
</Form>
<form action="{{url_for('login')}}">
        <button type="submit" name="reg_button" value="submit_value" class="link-button">
            My Classes
        </button>
    </form>
<br>
<h3>Add/Drop classes</h3>
 <h1>
     <div id="display">
                <table id="tabs" align="center">
                    {% block content %}
                    {% if classes %}
                        <th>Course ID</th>
                        <th>Course Name</th>
                        <th>Teacher</th>
                        <th>Time</th>
                        <th>Students Enrolled</th>
                        {% for class in classes %}
                            {% set t_name = teachers.query.filter_by(id=class.teacher_id).first()%}
                                <tr>
                                    <td>{{class.id}}</td>
                                    <td>{{class.class_name}}</td>
                                    <td>{{t_name.first_name + " " + t_name.last_name}}</td>
                                    <td>{{class.timeslot}}</td>
                                    <td>{{class.enrolled}}/{{class.size}}</td>
                                </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                {% endblock content%}
            </div>
     </div>
     <br>

     <h2>Add Class:</h2>

     <form action="{{url_for('registration')}}" method="post">
         <input type="text" id="class" name="class" class = "classInput">
         <br>
         <button type="submit" name="sub_button" value="submit_value" style="display: table; margin: auto;">
           Add
         </button>
     </form>
     {{error}}
     <br>

     <br>
     <br>
 </h1>
</body>
</html>