<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel = "stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">

</head>
<body>
<form action="{{url_for('user_page')}}">
    <button type="submit" name="reg_button" value="submit_value" class="link-button">
           My Classes
    </button>
</form>
<br>
<Form action="{{url_for('logout')}}">
    <div>
        <button class="log-button">Log Out</button>
    </div>
</Form><br>
<h1>Hello {{name}}!</h1>
 <h1>
     <div id="display">
                <table id="tabs" align="center">
                    {% block content %}
                    {% if classes %}
                        <th>Course ID</th>
                        <th>Course Name</th>
                        <th>Teacher</th>
                        <th>Time</th>
                        <th>Students Enrolled</th>
                        {% for class in classes %}
                            {% set t_name = teachers.query.filter_by(id=class.teacher_id).first()%}
                                <tr>
                                    <td>{{class.id}}</td>
                                    <td>{{class.class_name}}</td>
                                    <td>{{t_name.first_name + " " + t_name.last_name}}</td>
                                    <td>{{class.timeslot}}</td>
                                    <td>{{class.enrolled}}/{{class.size}}</td>
                                </tr>
                        {% endfor %}
                    </table>
                    {% else %}

                    {% endif %}
                {% endblock content%}
            </div>
     <h2>
         <label for="class" class="absoleft">Add/Drop Class:</label>
         <input type="text" id="class" name="class" class="absoleft-box"><br><br>
     </h2>
        </h1>
</body>
</html>