<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Classes</title>
    <link rel = "stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">

</head>
<body>
<form action="">
        <button type="submit" name="reg_button" value="submit_value" class="link-button">
            Grader mode
        </button>
    </form>
       <br> <Form action="{{url_for('logout')}}">
            <div>
                <button class="log-button">Log Out</button>
            </div>
           <h1>Hello {{name}}!</h1>
        </Form><br>
        <h1>
            <div id="display">
                <table id="tabs" align="center">
                    {% block content %}
                    {% if classes %}
                        <th>Course Name</th>
                        <th>Teacher</th>
                        <th>Time</th>
                        <th>Students Enrolled</th>
                        {% for i in range(classes|length) %}
                            <tr>
                                <td>{{classes[i]}}</td>
                                <td>{{teachers[i]}}</td>
                                <td>{{times[i]}}</td>
                                 <td>{{enrolled[i]}}/{{cap[i]}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% else %}

                    {% endif %}
                {% endblock content%}
            </div>
        </h1>
</body>
</html>