<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Classes</title>
    <link rel = "stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">

</head>

<body style = "background: url('/static/1.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; background-position: center">
       <Form action="{{url_for('logout')}}">
            <div>
                <button class="log-button">Log Out</button>
            </div>
        </Form>
        <form action="{{url_for('registration')}}">
            <button type="submit" name="reg_button" value="submit_value" class="link-button">
            Add/Drop classes
            </button>
        </form>
       <h3>Hello {{name}}!</h3>
       <br>
        <h1>
            <div id="display">
                <table id="tabs" align="center">
                    {% block content %}
                    {% if classes %}
                        <th>Course Name</th>
                        <th>Teacher</th>
                        <th>Time</th>
                        <th>Students Enrolled</th>
                        {% for i in range(classes|length) %}
                            <tr>
                                <td>{{classes[i]}}</td>
                                <td>{{teachers[i]}}</td>
                                <td>{{times[i]}}</td>
                                 <td>{{enrolled[i]}}/{{cap[i]}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% else %}

                    {% endif %}
                {% endblock content%}
            </div>
        </h1>
</body>
</html>